@import url('https://fonts.googleapis.com/css2?family=Righteous&display=swap');
*{
    padding: 0;
    margin: 0;
    box-sizing: border-box;
}
body{
    display: flex;
    align-items: center;
    /* justify-content: center; */
    flex-direction: column;
    min-height: 100vh;
    font-family: 'Righteous', cursive;
    background-image: url(../img/fondoN1.jpg);

}
h1{
    font-size: 1.6em;
    margin-top: 10px;
    padding: 15px;
    background-color: white;
    border-radius: 10px;
}
#maincontainer{
    background-color: white;
    border-radius: 20px;
    padding: 5px 20px;
    margin-bottom: 20px;
    width: 80%;
    text-align: center;
}
#puntosniveles{
    position: relative;
    width: 100%;
    display: flex;
    align-items: center;
    justify-content: space-around;
    flex-wrap: wrap;
}
#f11{
    position: absolute;
    top: 0;
    right: 0;
    font-size: 1.1em;
    border: none;
    background: none;
    cursor: pointer;
    transition: 0.3s;
}
#f11:hover{
    transform: scale(1.2);
}
div{
    float: left;
    margin-top: 20px;
    padding: 10px;
}

#pPuntos, #pNivel {
    font-size: large;

}

#divPrincipal {
    border: 15px solid rgb(60, 189, 0);
    border-radius: 20px;
    background-color: rgb(215, 255, 205);
    width: 100%;
    height: 320px;
    overflow: hidden;
    position: relative;
}
.items{
    height: 80px;
    margin: 15px;
    clear: left;
    position: absolute;
    transition: 250ms;
}
#papeleras{
    border: 15px solid rgb(60, 189, 0);
    border-radius: 20px;
    background-color: rgb(215, 255, 205);
    clear: left;
    width: 100%;
    display: flex;
    justify-content: space-around;
    flex-wrap: wrap;
}   
#papeleras div{
    width: fit-content;
}

#papeleras img {
    height: 120px;
    background-color: white;
    border-radius: 10px;
}
#papeleras img, #maincontainer, h1, #creditos{
    box-shadow: 6px 6px 5px 0px rgba(0,0,0,0.49);
    -webkit-box-shadow: 6px 6px 5px 0px rgba(0,0,0,0.49);
    -moz-box-shadow: 6px 6px 5px 0px rgba(0,0,0,0.49);
}
@media (max-width: 800px){
    #maincontainer{
        width: 95%;
    }
    #papeleras img {
        height: 60px;
    }
    .items{
        height: 40px;
    }
    
}
.marcado{
    background-color: #1086af;
    border: 2px solid #1086af;
    border-radius: 5px;
}

#bIniciar{
    color: green;
    background-color: white;
    border: 5px solid green;
    cursor: pointer;
    border-radius: 20px;
    font-size: xx-large;
    margin: auto;
    position: absolute;
    top: 40%;
}
#maincontainer a{
    display: inline-block;
    text-decoration: none;
    margin-top: 10px;
}

.gameOver{
    margin: auto;
    z-index: 10;
    position: absolute;
    top: 200px;
    left: 0;
    width: 100%;
    text-align: center;
    border-radius: 10px;
    min-height: 400px;
}
.gameOver img{
    width: 50%;
}

#mostrarFin{
    border: 15px solid rgb(60, 189, 0);
    background-color: rgb(215, 255, 205);
    top: -1000px;
    border-radius: 20px;
    margin: auto;
    z-index: 10;
    position: absolute;
    min-width: 80vw;
    min-height: 80vh;
    transition: 1s;
}

#contenedor-creditos{
    display: flex;
    align-items: center;
    justify-content: center;
    width: 100%;
    min-height: 100vh;
}

h2{
    margin-bottom: 20px;
}

#creditos{
    width: 95%;
    text-align: center;
    padding: 20px;
    background-color: rgb(215, 255, 205);
    border: 15px solid rgb(60, 189, 0);
    border-radius: 12px;
    font-size: 3vw;
}

#creditos li{
    list-style: none;
    margin-top: 10px;
}
#enlace-juego{
    background-color: white;
    margin-bottom: 10px;
    border-radius: 16px;
}

#enlace-juego a{
    text-decoration: none;
}